$font_main: 'Fira Sans',
sans-serif;
$color_black: #000000;
$color_red: #da4d1b;
$color_white: #ffffff;
$color_green: #479346;
$color_black_d: #1d1d1b;
$color_black_a: #1a1a1a;
$color_bg_block-0: #f0e9e9;
$color_bg_block-1:#eaf3ed;
$color_bg_block-2: #f6eee4;