@import '_param';
html {
    font-size: 10px;
}

*,
body {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.header {
    &__style {
        height: 210px;
        background-image: url('../img/header/top-element.png');
        background-repeat: no-repeat;
        background-position: 110px top;
        position: relative;
    }
    &__top {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 0;
    }
    &__minus {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: $font_main;
        color: $color_black;
        font-size: 20rem;
        font-weight: 300;
        line-height: 0.1;
    }
    &__plus-minus {
        text-decoration: none;
        color: $color_black;
    }
    &__center {
        width: 485px;
        height: 147px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    &__element-left {
        background-image: url('../img/header/header-dots.png');
        background-repeat: no-repeat;
        width: 147px;
        height: 147px;
        background-position: top left;
    }
    &__logo {
        padding: 31px 57px 0px 50px;
    }
    &__element-right {
        width: 108px;
        height: 147px;
        padding-top: 54px;
        background-image: url('../img/header/header-elements.png');
        background-position: right center;
        background-repeat: no-repeat;
    }
    &__plus {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-family: $font_main;
        font-weight: 300;
        color: $color_black;
        font-size: 16rem;
        line-height: 0.1;
    }
}

.nav {
    &__style {
        display: flex;
        padding: 26px 0 16px 0;
        margin: 0 auto;
        justify-content: center;
        position: relative;
        z-index: 1;
    }
    &__item {
        font-family: $font_main;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0.14px;
        line-height: normal;
        display: block;
        text-decoration: none;
        color: $color_black_a;
        cursor: pointer;
        &:hover {
            font-weight: 700;
        }
    }
    &__line {
        font-size: 1.4rem;
        padding: 0px 37px;
        font-family: $font_main;
        font-weight: 400;
        line-height: normal;
    }
}

.main {
    &__style {}
}

.slider {
    width: 100%;
    height: 560px;
    margin: 0 auto;
    background-image: url('../img/main/slider/01.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
        font-family: $font_main;
        font-size: 6rem;
        font-weight: 300;
        color: $color_white;
    }
}

.programm {
    padding-top: 60px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        color: $color_black_d;
        font-family: $font_main;
        font-size: 6rem;
        font-weight: 300;
        padding-bottom: 46px;
    }
    &__block {
        width: 950px;
        background-color: $color_bg_block;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 27px 35px 30px 35px;
    }
    // .programm__type
    &__type {}
    &__name {
        color: $color_red;
        font-family: $font_main;
        font-size: 3.2rem;
        font-weight: 500;
        text-align: center;
        padding-bottom: 30px;
    }
    &__weeks {
        padding-top: 20px;
    }
    // .programm__delivery
    &__delivery {
        padding-top: 30px;
    }
    &__text {
        width: 587px;
        font-family: $font_main;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        color: $color_black;
        padding-top: 30px;
    }
}

.type {
    &__items {
        width: 875px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 25px;
        background-image: url('../img/square.svg');
        background-position: 0 bottom;
        background-size: 8px 2px;
        background-repeat: repeat-x;
    }
    &__item {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
            cursor: pointer;
            padding: 0 8px;
            .type__name {
                font-weight: 700
            }
            ;
            .type__kcal {
                width: 100px;
                background-color: $color_black;
                color: $color_white;
            }
        }
    }
    &__name {
        font-family: $font_main;
        font-size: 3.2rem;
        font-weight: 300;
        color: $color_black;
        &_bold {
            font-weight: 700;
        }
    }
    &__kcal {
        font-family: $font_main;
        font-size: 2rem;
        font-weight: 300;
        line-height: 4rem;
        color: $color_black;
        text-align: center;
    }
    &__price {
        font-family: $font_main;
        font-size: 2rem;
        font-weight: 700;
        color: $color_black;
    }
}

.selected {}

.week {
    &__items {
        width: 875px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 25px;
        background-image: url('../img/square.svg');
        background-position: 0 bottom;
        background-size: 8px 2px;
        background-repeat: repeat-x;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        &:hover {
            cursor: pointer;
            .week__numb {
                background-color: $color_black;
                color: $color_white;
            }
        }
    }
    &__numb {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-family: $font_main;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: 300;
        color: $color_black;
    }
    &__percent {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        font-family: $font_main;
        font-size: 2rem;
        font-weight: 700;
        color: $color_black;
    }
}

.delivery {
    &__items {
        width: 875px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 25px;
        background-image: url('../img/square.svg');
        background-position: 0 bottom;
        background-size: 8px 2px;
        background-repeat: repeat-x;
    }
    &__item {
        width: 140px;
        height: 85px;
        margin: 0 5px;
        &:hover {
            cursor: pointer;
            .delivery__day {
                background-color: $color_black;
                color: $color_white;
                padding: 0 12px;
            }
            .delivery__time {
                display: inline;
            }
        }
    }
    &__day {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        font-family: $font_main;
        font-size: 2rem;
        font-weight: 300;
        color: $color_black;
        padding: 0 12px;
    }
    &__times {
        width: 140px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__time {
        display: none;
        font-family: $font_main;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        padding-right: 4px;
        &:hover {
            font-weight: 700;
        }
        &_bold {
            font-weight: 700;
        }
    }
}

.elements {
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__left {
        width: 20%;
        max-width: 450px;
        height: 360px;
        overflow: hidden;
        background-image: url('../img/all-elements/berrie.png');
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__right {
        width: 20%;
        max-width: 450px;
    }
    &__style {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__btn {
        width: 260px;
        height: 55px;
        background-color: $color_black;
        border-radius: 50px;
        color: $color_white;
        font-family: $font_main;
        font-size: 3.2rem;
        font-weight: 400;
        border: none;
        outline: none;
        &:hover {
            cursor: pointer;
            background-color: $color_red;
        }
    }
    &__text {
        font-family: $font_main;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
        color: $color_black;
        padding-top: 25px;
        padding-bottom: 227px;
    }
    &__link {
        font-size: 2rem;
        font-weight: 700;
        color: $color_black;
        &:hover {
            text-decoration: none;
            color: $color_red;
        }
        &:active,
        &:visited,
        &:link {
            color: $color_black;
            &:hover {
                color: $color_red;
            }
        }
    }
}

.menu {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -75px;
    position: relative;
    &__title {
        font-family: $font_main;
        font-size: 6rem;
        font-weight: 300;
        color: $color_black_d;
        padding-bottom: 40px;
    }
    &__select {
        margin-bottom: 27px;
        outline: none;
        border: none;
    }
    &__days {
        width: 200px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 30px;
    }
    &__btn {
        width: 30px;
        height: 20px;
        color: $color_black;
        background-color: transparent;
        font-family: $font_main;
        font-size: 2rem;
        font-weight: 300;
        border: none;
        outline: none;
        &:hover {
            cursor: pointer;
            font-weight: 700;
        }
        &_bold {
            font-weight: 700;
        }
    }
    &__items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        padding: 0 26px 50px 26px;
    }
    &__img {}
    &__info {
        padding: 28px 0 0 29px;
    }
    &__name {
        font-family: $font_main;
        color: $color_black;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.8rem;
    }
    &__text {
        font-family: $font_main;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color_red;
        line-height: 2rem;
    }
    &__more {
        padding-top: 20px;
        font-family: $font_main;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color_black;
    }
    &::after {
        position: absolute;
        content: '';
        width: 186px;
        height: 155px;
        bottom: 0px;
        right: 0px;
        background-image: url('../img/all-elements/smth-01.png');
    }
}

.values {
    padding-top: 110px;
    padding-bottom: 109px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-family: $font_main;
        font-size: 6rem;
        font-weight: 300;
        color: $color_black_d;
        padding-bottom: 60px;
    }
    &__items {
        width: 750px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        width: 240px;
        padding-bottom: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        height: 68px;
    }
    &__name {
        padding-top: 30px;
        padding-bottom: 24px;
        font-family: $font_main;
        font-size: 2rem;
        font-weight: 700;
        color: $color_black;
    }
    &__text {
        max-width: 225px;
        font-family: $font_main;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color_black;
        text-align: center;
    }
}

.feedback {
    width: 100%;
    position: relative;
    padding-bottom: 65px;
    &::before {
        position: absolute;
        content: '';
        width: 142px;
        height: 188px;
        top: 0px;
        left: 15%;
        background-image: url('../img/all-elements/avocado.png');
        background-size: auto;
        background-repeat: no-repeat;
    }
    &__title {
        font-family: $font_main;
        font-size: 6rem;
        font-weight: 300;
        color: $color_black_d;
        padding-bottom: 45px;
        text-align: center;
    }
    &__main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__left {
        width: 15%;
    }
    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__arrow {
        width: 21px;
        height: 21px;
        background-color: $color_black;
        border-radius: 50%;
        color: $color_white;
        font-size: 1.3rem;
        font-weight: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
            background-color: $color_red;
        }
    }
    &__phone {
        width: 203px;
        height: 370px;
        padding: 100px 47px;
        background-image: url('../img/iphone.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 0 41px;
    }
    &__date {
        padding-bottom: 20px;
    }
    &__text {
        color: $color_black;
        font-family: $font_main;
        font-size: 1.3rem;
        font-weight: 400;
    }
    &__author {
        padding-top: 20px;
    }
    &__right {
        width: 15%;
        min-height: 388px;
        overflow: hidden;
        background-image: url('../img/all-elements/fish.png');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 55px;
    &__items {
        width: 860px;
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 100%;
        height: 51px;
        padding-bottom: 30px;
        text-align: center;
    }
    &__item {
        margin-left: 20px;
    }
}

.footer {
    &__style {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color_black;
    }
    &__menu {
        width: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 115px;
    }
    &__item {
        font-family: $font_main;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color_white;
        text-decoration: none;
        &:hover {
            color: $color_red;
        }
    }
    &__line {
        font-family: $font_main;
        font-size: 1.4rem;
        font-weight: 400;
        color: $color_white;
        padding: 0 37px;
    }
    &__icons {
        display: flex;
    }
    &__icon {
        padding: 0 7px;
    }
}